.page{
  &-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }

  &-background{
    background-image: url('../../../../assets/imgs/wallpaper.jpg');
    background-position: center;
    background-size: cover;
    position: fixed;
    top:0;
    bottom: 0;
    width: 100%;
    z-index: 0;
    filter: blur(2px);
  }
}
